{% extends 'shopapp/base.html' %}

{% block title %}
    Profile #{{ profile.pk }}
{% endblock %}

{% block body %}
<h1>Profile <strong>{{ profile.user.username }}</strong></h1>
<div>
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="{{ profile.avatar.name }}">
    {% endif%}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            {{form.avatar}}
        </p>
            <button type="submit">Save</button>
        </form>
    {% endif %}
</div>
<div>
    <p>First name: {{profile.user.first_name}}</p>
    <p>Last name: {{profile.user.last_name}}</p>
    <p>Email: {{profile.user.email}}</p>
    <p>Bio: {{profile.bio}}</p>
</div>
<div>
    <a href="{% url 'accounts:profiles-list' %}">Back to profile list</a>
</div>
{% endblock %}