{% extends 'shopapp/base.html' %}

{%block title%}
Articles List
{%endblock%}

{%block body %}
<h1>Articles:</h1>
{%if articles%}
<div>
    {%for article in articles%}
    <div>
        <p>Title: {{article.title}}</p>
        <p>Author: {{article.author.name}}</p>
        <p>Category: {{article.category.name}}</p>
        <p>Tags:
            {% for tag in article.tags.all %}
                {{ tag.name }}
            {% endfor %}
        </p>
    </div>
    {%endfor%}

{% else %}
    No articles yet
{% endif %}

{%endblock%}